.container{
    position: absolute;
    left: 15px;
    top: 10px;
    border: 2px solid gray;
    border-radius: 3%;
    width: 50%;
    padding: 8px 0px 8px 10px;
}
.avatar{
    margin-bottom: 15px;
    
}
.avatarImage{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.title{
    display: inline-block;
    margin:0px 0px 0px 0px;
    border: 1px solid red;
}